/* styles.css */

body {
    font-family: Arial, sans-serif;
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 20px;
    flex-direction: column;
    padding: 0;
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
   
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

a {
    text-decoration: none !important;
    color: white !important;
}
.container-md{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 6px 6px 5px 2px black;
    text-align: center;
    height: 50vh;
    border: 1px solid black;
}
#con{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 40vw;
    border: 1px solid black;
    box-shadow: 7px 6px 6px 0px black;
}
form{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
h3{
    text-align: center;
    color: rgb(21, 21, 254);
}